<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my first django project</h>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque a corporis repellat ut corrupti? Aspernatur, consequuntur fugit numquam enim dolor culpa reiciendis quibusdam, quas reprehenderit, deserunt inventore quia vero maiores hic sit accusantium eligendi molestiae eaque modi dolores debitis rem delectus sed! Obcaecati, harum facere! Deleniti ut quae mollitia nesciunt. Nisi natus dignissimos porro rerum aspernatur similique iste architecto nostrum, sapiente doloremque voluptatem corporis commodi. Odio quasi ad rem voluptatibus, facilis reiciendis illum, unde, atque sed harum eveniet et praesentium numquam repudiandae? Ducimus voluptas esse nihil, aut, quo ipsum saepe beatae officia ut, dolorem quis temporibus non repellendus! Iusto, esse?</p>
</body>
</html>